*,
::after,
::before {
  box-sizing: border-box;
  background-color: black;
 
}
:root {
    /* COLORS  */
    /* primary */
    --primary-0: #f0efff;
    --primary-50: #d8d6ff;
    --primary-100: #c1beff;
    --primary-200: #aaa5ff;
    --primary-300: #938dff;
    --primary-400: #7b74ff;
     /* main */
  --primary-500: #645cff;
  --white: #fff;
}


h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  margin-bottom: 1.38rem;
  font-family: var(--headingFont);
  font-weight: 400;
  line-height: 1.3;
  text-transform: capitalize;
  letter-spacing: var(--letterSpacing);
}

h1 {
  font-size: 3.052rem;
  color: var(--white);
}

h2 {
  font-size: 2.441rem;
}

h3 {
  font-size: 1.953rem;
  color: var(--white);
}

h4 {
  font-size: 1.563rem;
}

h5 {
  font-size: 1.25rem;
}
p {
    margin: 0;
    margin-bottom: 1rem;
    max-width: 45em;
  }
  a {
    text-decoration: none;
  }
/* Footer */
/*#########*/
.page-footer {
    text-align: center;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #c94b4b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: var(--white);
  }
  .page-footer h5 {
    margin-bottom: 0;
  }
  .page-footer p {
    margin-bottom: 0;
  }
  .page-footer span,
  .page-footer a {
    color:  var(--white);
  }
  /* Contact */
/*#########*/

.user-icon{
  position: absolute;
  font-size: 20px;
 color: #fff;
 top: 31px;
margin:7px;

}
.form-row{
  margin-bottom: 30px;
}
.paragraph-contact{
  justify-content: center;
  text-align: center;
  font-size: 16px;
  color: #fff;
  margin: 10px;
/* padding:10px; */
}
.input-name span{
  margin-left: 52px;
}
.contact-form{
  width: 100%;
  max-width: 600px;
  margin: 20px auto 25px auto;
  padding:25px
}

.p-name{
  width: 100%;
  padding:15px
}
.fname{
  width: 45%;
  padding:20px }
  
  form button{
    background: #c94b4b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFFFFF;
    margin-left: 12px;
    border-radius: 15px;
    padding:14px 28px 22px 36px;
    border:'none'
    ; border: 1px solid #fff;
  }
.input-name{
  width: 100%;
  color: #fff;
  margin: 20px auto;
  padding:20px 10px;
  position: relative;
}
.textarea-message{
  height: 100px;
  width: 100%;
  padding-left: 10px;
  font-size: 20px;
  color: #fff;
  border-radius: 15px;
}
::placeholder {
  color: #fff;
 padding:18px
}
input[type=text]{
  color: #fff;
  padding-left: 30px;
  font-size: 20px;
}

.textarea{
  width: 100%;
  border: 1px solid #fff;
  border-radius: 20px;
  padding:34px;
  margin:10px

}
input {
  border: 1px solid #fff;
  border-radius: 10px;
  padding:34px;
  margin:10px;
  
}
.contact-page {
  display: grid;
  gap: 2rem 3rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 992px) {
  .contact-page {
    grid-template-columns: 1fr 1fr;
    align-items: center;
  }
}
  /* Error */
/*#########*/
.error-page {
    min-height: calc(100vh - (6rem + 4rem));
    text-align: center;
    padding-top: 3rem;
  }
  .error-page h1 {
    font-size: 9rem;
  }
  
  /*#########*/
/* Navbar */
/*#########*/
.navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: rgb(49, 47, 47); */
}
.nav-center {
  width: 70vw;
  color: #fff;
  /* background-color: rgb(68, 68, 140); */
  max-width: var(--max-width);
  /* background: #0F2027;   */
/* background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);   */
/* background: linear-gradient(to right, #2C5364, #203A43, #0F2027);  */

}
.nav-header {
  width:12.6rem;
  height: 6rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
 margin:25px;
 letter-spacing: 5px;
 text-transform: uppercase;
 border-right: 2px solid white;
 /* background: #0F2027;   */
 /* background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);   */
 /* background: linear-gradient(to right, #2C5364, #203A43, #0F2027);  */
 
 
}
.nav-link:hover{
  color: #dc0beb
}
.nav-header img {
  width: 130px;
  margin-left: -6px;
  margin-bottom: -9px;
}
.btn{
  padding:15px 15px 15px 15px;
  border-radius: 15px;
  border:none;
  color:aliceblue;
  background: #c94b4b;  
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  
    background: linear-gradient(to right, #4b134f, #c94b4b); 
}
.nav-btn {
  border:none;
  color:#fff;
  /* background-color: aliceblue; */
  /* padding: 0.15rem 0.75rem; */
 
}
.nav-btn svg {
  font-size: 1.5rem;
}
.nav-links {
  height: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  transition: var(--transition);
  letter-spacing: 3px;
  
  /* background: #0F2027; 
  background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  
  background: linear-gradient(to right, #2C5364, #203A43, #0F2027);  */
  
}
.show-links {
  height: 23.9375rem;
  
}


.nav-link {
  display: block;
  text-align: center;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: var(--grey-1000);
  letter-spacing: var(--letterSpacing);
  padding: 1rem 0;
  border-top: 1px solid var(--grey-500);
  transition: var(--transition);
}
.active-link {
  color: var(--red-dark)
  /* var(--primary-500); */
}
.contact-link {
  display: flex;
  justify-content: center;
}
.contact-link a {
  padding: 0.15rem 1rem;
}

@media screen and (min-width: 992px) {
  .navbar {
    height: 6rem;
  }
  .nav-center {
    display: flex;
    align-items: center;
   
  }
  .nav-header {
    padding: 0;
    margin-right: 2rem;
    height: auto;
    
  }

  .nav-btn {
    display: none;
   
  }
  .nav-links {
    height: auto !important;
    flex-direction: row;
    align-items: center;
    width: 100%;
  }
  .nav-link {
    padding: 0;
    border-top: none;
    margin-right: 1rem;
    font-size: 1rem;
  }
  .contact-link {
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    margin-right: 0;
  }
}
.own{
  background: #c94b4b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  position: relative;
}
.img-mainlayout{
   position: absolute;
 
}
/* IMAGES.js file all css */
.hero-img {
  height: 100%;
  border-radius: var(--borderRadius);
 align-items: center;
}
.hero {
  height: 104vh;
  
 margin-left: 30rem;
  position: relative;
  margin-bottom: 2rem;
}
.hero-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.4);
  border-radius: var(--borderRadius);
}
.hero-text {
  /* color: var(--white);
  text-align: center; */

}

@media only screen and (min-width: 768px) {
  .hero-text h1 {
    font-size: 4rem;
    margin-bottom: 0;
  }
}
/* render image from shopify */
.about-page h2 {
  text-transform: none;
  font-weight: bold;
}
.grid-render{

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 10px;
  justify-content: center;
  
  /* justify-items: end; */
/* background-color: pink; */
  /* grid-template-columns: repeat(4, 1fr); */
  /* grid-template-rows: 80px auto 80px;  */
}
.renderbtn{
  padding: 35px;
  margin:10px
}
.btn1{
  margin:10px
}
.renderbtn button{
  border: none;
  padding:5px;
  border-radius: 10px;
  color: #fff;
  background: #c94b4b;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #4b134f, #c94b4b);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #4b134f, #c94b4b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
}
.grid-render-h2{
  color: white;
}
img {
  border-radius: var(--borderRadius);
  height: 250px;
  width: 250px;
  margin-left: 3rem;
}